body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto
}

.App {
    background-color: darkgray;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: auto;
    font-size: 16px;
}

.navbar {
  height: 10vh;
}

.NavbarButtons a {
  margin: 0px 10px 0px 10px;
  padding: 0px;
}

.NavbarText {
  font-weight: bold;
  font-size: 35px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-shadow: 2px 2px 5px black;
}

.navbar img {
  height: 10vh;
  width: 5vw;
}

.btn {
    margin: 10px
}

.HomeLinks {
  display: flex;
  flex-wrap: wrap;
}

.DishesLink {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  width: 45vw;
  height: 90vh;
  background-image: url('../public/uploads/food2.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: end;
  text-decoration: none;
  font-size: 6em;
  color: white;
  text-shadow: 7px 7px 10px black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .ChooseDishLink {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 45vw;
    height: 90vh;
    background-image: url('../public/uploads/ChoosingFood3.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: end;
    text-decoration: none;
    font-size: 6em;
    color: white;
    text-shadow: 7px 7px 10px black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

.GoBack {
    position: fixed;
    top: 0;
    left: 0;
}

.Card {
    text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
    margin: 10px;
}

.DishList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.DishPage {
    flex-wrap: wrap;
    justify-content: center;
    height: 80vh;
}

.OptionsIcon {
    position: absolute;
    top: 1%;
    right: 1%;
    cursor: pointer;
  }

  .OptionsSection {
    position: absolute;
    width: 3vw;
    top:25%;
    right: 3%;
  }

  .DeleteDishModalBody {
    text-align: center;
  }

  .DeleteDishModalBody button {
    width: 7em;
    height: 3em;
  }

  .CardImageModal {
    height: 55vh;
  }

  .ShowModalFooter {
    display: flex;
  }

  .ShowModalFooter h4{
    margin-right: 10px;
  }

  .AddDishCheckBox {
    display: flex;
    justify-content: space-around;
  }

  .AddDishCheckBox .form-check{
    margin-right: 10px;

  }

  .Alergies {
    display: flex;
  }

  .Time {
    display: flex;
  }

  .Form{
    font-weight: bold;
    font-size: 1.3em;
  }

  .AddDishCheckBox .form-check-input {
    width: 1.2em;
    height: 1.2em;
    margin-right: 10px;
  }

  .AddDishButton {
    text-align: center;
    }

  .AddDishButton button{
    width: 200px;
  }


  @media only screen and (min-width: 426px) and (max-width: 1024px) {

    .App {
      font-size: 8px;
    }
  
    .DishesLink {
      background-image: url('../public/uploads/food2 - Tablet.jpeg');
      width: 45vw;
      height: 70vh;
      border-radius: 50px;
    }
  
    .ChooseDishLink {
      background-image: url('../public/uploads/ChoosingFood3 - Tablet.jpeg');
      width: 45vw;
      height: 70vh;
      border-radius: 50px;
    }

    .CardImageModal {
      height: 40vh;
    }

    .bi-three-dots-vertical{
      width: 2.5vw;
      height: 3.5vh;
    }

    .bi-pen{
      width: 2.5vw;
      height: 3.5vh;
    }

    .bi-trash3{
      width: 2.5vw;
      height: 3.5vh;
    }

    .OptionsSection {
      width: 6.5vw;
      right: 3%;
    }

    .Form {
      font-weight: bold;
      font-size: 1.2em;
    }

    .Form .form-check-label {
      font-size: 0.7em;
    }

    .navbar {
      height: 7vh;
    }
    
    .NavbarText {
      font-weight: bold;
      font-size: 30px;
    }
    
    .navbar img {
      height: 7vh;
      width: 8vw;
      margin-left: 5vw;
    }

  .bi-arrow-left-circle-fill {
    width: 3vw;
    height: 4vh;
  }

  .bi-house-door-fill {
    width: 3vw;
    height: 4vh;
  }

  }


  @media only screen and (max-width: 426px) {

    .App {
      font-size: 7px;
    }
  
    .DishesLink {
      position: absolute;
      top: 25%;
      left: 50%;
      width: 95vw;
      height: 45vh;
      border-radius: 50px;
    }
  
    .ChooseDishLink {
      position: absolute;
      top: 75%;
      left: 50%;
      width: 95vw;
      height: 45vh;
      border-radius: 50px;
    }

    .CardImageModal {
      height: 35vh;
    }


    .Form {
      font-weight: bold;
      font-size: 1.2em;
    }

    .Form .form-check-label {
      font-size: 0.7em;
    }


  .AddDishCheckBox {
    display: flex;
    flex-wrap: wrap;
  }

    .AddDishCheckBox .form-check-input {
      width: 1em;
      height: 1em;
      margin-right: 10px;
    }

    .bi-three-dots-vertical{
      width: 5vw;
      height: 4vh;
    }

    .bi-pen{
      width: 4.5vw;
      height: 3vh;
    }

    .bi-trash3{
      width: 4.5vw;
      height: 3vh;
    }

    .OptionsSection {
      width: 15vw;
      right: 3%;
    }

    .navbar {
      height: 7vh;
    }
    
    .NavbarText {
      font-weight: bold;
      font-size: 25px;
    }
    
    .navbar img {
      height: 7vh;
      width: 15vw;
      margin-left: 5vw;
    }

  .bi-arrow-left-circle-fill {
    width: 5vw;
    height: 4vh;
  }

  .bi-house-door-fill {
    width: 5vw;
    height: 4vh;
  }
  
  }