body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.App {
    background-color: darkgray;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: auto;
}

.btn {
    margin: 5px
}

.HomeLink {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.GoBack {
    position: fixed;
    top: 0;
    left: 0;
}

.Card {
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    margin: 10px;
}

.DishList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.DishPage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 80vh;
}

.OptionsIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
  }

  .OptionsSection {
    position: absolute;
    min-height: 45px;
    width: 50px;
    top:50px;
    right: 10px;
  }

  .DeleteDishModalBody {
    text-align: center;
  }

  .DeleteDishModalBody button {
    width: 100px;
    height: 50px;
  }

  .CardImageModal {
    height: 400px;
  }

  .ShowModalFooter {
    display: flex;
  }

  .ShowModalFooter h4{
    margin-right: 10px;
  }

  .AddDishCheckBox {
    display: flex;
    justify-content: space-around;
  }

  .AddDishCheckBox .form-check{
    margin-right: 10px;
  }

  .Alergies {
    display: flex;
  }

  .Time {
    display: flex;
  }

  .AddDishCheckBox .form-check-input {
    width: 1.2em;
    height: 1.2em;
    margin-right: 10px;
  }