body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.App {
    background-color: darkgray;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: auto;
}

.btn {
    margin: 5px
}

.HomeLink {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0px;
}

.DishesLink {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  width: 40vw;
  height: 71vh;
  background-image: url('C:\\Python FullStack\\Project F\\project-f\\public\\uploads\\ChoosingFood3.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: end;
  text-decoration: none;
  font-size: 100px;
  color: white;
  text-shadow: 1px 1px 3px black, 0 0 25px black, 0 0 5px black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

.ChooseDishLink {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  width: 40vw;
  height: 71vh;
  background-image: url('C:\\Python FullStack\\Project F\\project-f\\public\\uploads\\food2.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: end;
  text-decoration: none;
  font-size: 100px;
  color: white;
  text-shadow: 7px 7px 10px black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.GoBack {
    position: fixed;
    top: 0;
    left: 0;
}

.Card {
    text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
    margin: 10px;
}

.DishList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.DishPage {
    flex-wrap: wrap;
    justify-content: center;
    height: 80vh;
}

.OptionsIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
  }

  .OptionsSection {
    position: absolute;
    min-height: 45px;
    width: 50px;
    top:50px;
    right: 10px;
  }

  .DeleteDishModalBody {
    text-align: center;
  }

  .DeleteDishModalBody button {
    width: 100px;
    height: 50px;
  }

  .CardImageModal {
    height: 400px;
  }

  .ShowModalFooter {
    display: flex;
  }

  .ShowModalFooter h4{
    margin-right: 10px;
  }

  .AddDishCheckBox {
    display: flex;
    justify-content: space-around;
  }

  .AddDishCheckBox .form-check{
    margin-right: 10px;
  }

  .Alergies {
    display: flex;
  }

  .Time {
    display: flex;
  }

  .AddDishCheckBox .form-check-input {
    width: 1.2em;
    height: 1.2em;
    margin-right: 10px;
  }

  .AddDishButton {
    text-align: center;
    }

  .AddDishButton button{
    width: 200px;
  }