body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto
}

.App {
    background-color: darkgray;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    color: white;
    overflow: auto;
    font-size: 16px;
}

.navbar {
  height: 10vh;
}

.NavbarButtons a {
  margin: 0px 10px 0px 10px;
  padding: 5px;
}

.NavbarText {
  font-weight: bold;
  font-size: 35px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-shadow: 2px 2px 5px black;
}

.navbar img {
  height: 10vh;
  width: 5vw;
  margin-left: 5vw;
}

.btn {
    margin: 10px
}

.HomeLinks {
  display: flex;
  flex-wrap: wrap;
}

.DishesLink {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  width: 45vw;
  height: 90vh;
  background-image: url('../../public/uploads/food2.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-decoration: none;
  font-size: 6em;
  color: white;
  text-shadow: 7px 7px 10px black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .ChooseDishLink {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 45vw;
    height: 90vh;
    background-image: url('../../public/uploads/ChoosingFood3.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-decoration: none;
    font-size: 6em;
    color: white;
    text-shadow: 7px 7px 10px black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

.GoBack {
    position: fixed;
    top: 0;
    left: 0;
}

.Card {
    text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
    margin: 10px;
}

.DishList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;

}

.DishPage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ChoosingPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.ChoosingForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-size: 2em;
}

.ChoosingAlergies {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.ChoosingTime {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.ChoosingForm .form-check {
  margin: 15px;
}

.ChoosingForm button {
  font-size: 1.5em;
  padding: 50px;
  border-radius: 65px;
}

.ChoosingForm select {
  width: 30vw;
}

.OptionsIcon {
    position: absolute;
    top: 1%;
    right: 1%;
    cursor: pointer;
  }

  .OptionsSection {
    position: absolute;
    width: 3vw;
    top:25%;
    right: 3%;
  }

  .DeleteDishModalBody {
    text-align: center;
  }

  .DeleteDishModalBody button {
    width: 7em;
    height: 3em;
  }

  .CardImageModal {
    height: 55vh;
  }

  .ShowModalFooter {
    display: flex;
  }

  .ShowModalFooter h4{
    margin-right: 10px;
  }

  .Alergies {
    display: flex;
  }

  .Time {
    display: flex;
  }

  .Form{
    font-weight: bold;
    font-size: 1.3em;
  }

  .Form .form-check {
    margin-right: 15px;
  }

  .ButtonsBar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }

  .AddButtons {
    flex: 1;
    order: 2;
    display: flex;
    justify-content: center;
    position: relative;
    top: 10%;
    height: 10vh;
    margin-right: 5vw;
  }

  .AddButtons button{
    width: 200px;
    height: 50px
  }

  .FilterForm select {
    width: 15vw;
  }

  .FilterButton {
    position: relative;
    top: 10%;
    height: 10vh;
  }

  .FilterButton button{
    width: 60px;
    height: 50px;
  }

  .FilterForm label {
    margin-right: 10px;
  }

  .FilterFormButtons {
    text-align: center;
    margin-top: 15px;
  }

  .FilterFormButtons button {
    width: 10vw;
  }
